body{
  background-color: rgb(6, 6, 65);
}
.button{
  position: relative;
  left: 50px;
}
.button>button{
  padding: 16px;
  border-radius:10%;
  background-color: #0ef;
  color: black;
  border: none;
}
.button>button:hover{
  background-color: rgb(190, 33, 33);
  color: black;
}
 .name{
   position: relative;
  padding: 20px;
  color:white;
} 
.name-2>img{
float:right;
position:relative;
bottom:360px;
width: 400px;
right:40px;
}
.name-1>h2,h4,h3,p{
  padding:10px;
  font-weight: bolder;
}
.profile>a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid #0ef;
  border-radius: 50%;
  color: #0ef;
  text-decoration: none;
  margin: 30px 30px 60px 20px;
 
 }
 .profile>a:hover{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}


.name-1>p{
  border: 1px solid black;
  width: 500px;
  border: none;
}
.name-4{
  display: none;
}
.text{
  color: #fff724;
  font-size:large;
  font-weight: bolder;
}
@media screen and (max-width:600px)
{
  .button{
    margin: 10px;
    position: relative;
    left:20px;
    bottom:15px;
  }
  .name-2{
    display: none;
  }
  .profile>a{
    margin: 15px 15px 30px 10px;
  }
  .name-1>p{
    border: 1px solid black;
    width:300px;
    border: none;
  }
  .name-4{
    display: block;
  }
  .name-4>img{
    width: 300px;
    height: 250px;
   position: relative;
   left: 10px;
  }
}
@media screen and (min-width:800px){
  .button{
    position: relative;
    bottom: 20px;
    left: 20px;
    margin: 5px;
  }
  }
